@charset "UTF-8";

body{
            background-color: rgb(182, 168, 250);
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
        }
        h1{
            color: rgb(60, 18, 100);
            text-align: center;
        }
        h2{
            color: rgb(99, 19, 32);
            text-align: center;
        }
        p{
            color: rgb(16, 61, 16);
            text-align: center;
        }